
/*.proyectos{
    margin-top: 70px;

}


.caja-proyecto{
    height: 320px;
}*/

/*Estadisticas*/
.infoInicio{
    margin-top: 30px !important;
}

/*------------------------------*/
.tituliño{
    height: 50px;
    background-color: black;
    width: 150px;
}

.proyectos{
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 480px;
}

.proyecto{
    background-color: white;
    margin-top: 60px;
    box-shadow: 0px 5px 0px #C3C3C3;
    margin-left: 75px;   
}

.logo{
    margin: 15px 0px 15px 0px;
    border-right: solid 1px #EFE6E6;
    height: 100px;

}

.logo img{
    width: 100%;
    padding-right: 10px; 
    height: 100%;
}

.informaProd{
    text-align: left; 
}
.informaProd span{
    float: right;
}

.titulo p{
    color: #ccc;
}

.irProyect{
    float: right;
}

.separador{
    height: 25px;
    background-color: black;
    color: white;
    width: 100%;
}


/*Single proyecto*/
.single-proyecto{
    margin-top: 45px !important;
    background-color: white;
}


@media (max-width: 480px) {

    .proyecto{

        margin-left: 0px;   
    }
    .informaProd{
        margin-bottom: 10px;
        text-align: center;
    }
    .logo{
        border: none;
    }
    .irProyect{
        float: none;

    }
    .single-extra-inf{
        text-align: center;
    }
    .caja-extra-inf, .single-memoria{
        margin: 0 auto;
    }
    .caja-extra-inf p{
        margin-left: 0px !important;
    }
    .contenido{
        margin-top: 31px;
    }
    .formLogueo{
        width: 100%;
        
    }
    .formLogueo input{
        width: 90% !important;
    }


}